:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #d41367;
    --ul-secondary: #a00f4d;
    --ul-c3: #fadce6;
    --ul-c4: #fff5f8;
    --ul-c5: #e33e84;
    --ul-black: #1E252F;
    --ul-p: #434343;
    --ul-gray: #434343;
    --ul-gray2: #D2D2D1;
    --ul-gray3: #F4F4F4;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Manrope", serif;
    --font-quicksand: "Quicksand", serif;
    --font-caveat: "Caveat", serif;
}
